<div class="vcontainer login">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url:sign_in_path(resource_name), :html => { :class => "" }) do |f| %>
    <%= render "partials/error" %>

    <div class="field column">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field column">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="action column">
      <%= f.submit "Log in", :class => "btn btn-success" %>
    </div>

    <p class="text-center text-muted">
      <small>Don't have an account yet? <%= link_to "Sign up", new_sign_up_path(resource_name) %></small><br />
      <small>Forget your password? <%= link_to "Forgot your password", new_password_path(resource_name) %></small><br />
    </p>

  <% end %>

  <div class="signup-or-separator">
    <h6 class="text">or</h6>
    <hr>
  </div>

</div>
